{% extends 'lolstats/layout.html' %}
{% load ttags %}

{% block title %}
Multisearch
{% endblock %}

{% block content %}
<div class="p-5 m-5 text-center">
    {% include './icons/code-slash.svg' %}
    <h1 class="display-5 fw-bold">MULTI-SEARCH</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Search for Summoners {% include './icons/search.svg' %}</p>
        <div class="mx-auto" style="max-width: 400px;">
            <form class="mt-3 mt-lg-0" action={% url 'multisearch' %} method="POST">
                {% csrf_token %}
                <textarea autocomplete="off" class="form-control me-2" id="player_names" name="player_names"
                    placeholder="Search Players" required type="text" rows="3"></textarea>
                <div class="d-flex gap-2 justify-content-end mt-2">
                    <select class="form-select w-auto" id="region" name="region">
                        {% for region in regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </div>
            </form>
        </div>
        <p class="mt-4 mx-auto" style="max-width: 500px;"><strong>Enter summoners into the search box separated by
                commas e.g.
                summoner1,summoner2,summoner3,etc...</strong></p>
    </div>
    <div class="mx-5">
        {% for summoner_info, account_stats in summoner_info_list|zip:account_stats_list %}
        <div class="p-3 rounded-3 override-left m-2 overflow-auto mx-5" style="background-color: #2c2f33;">
            <div class="container-fluid">
                <p class="h1">{{summoner_info.name}} <span class="badge rounded-pill bg-secondary"
                        style="font-size:1rem;">Lvl {{summoner_info.summonerLevel}}</span></p>
                <div class="row mb-auto text-left align-items-center flex-nowrap">
                    <div class="col-md-2" style="max-height: 120px; max-width: 120px;">
                        <div class="rounded-5 border border-3 w-auto h-auto overflow-hidden">
                            <img src="http://ddragon.leagueoflegends.com/cdn/13.3.1/img/profileicon/{{summoner_info.profileIconId}}.png"
                                alt="summoner icon" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row flex-nowrap">
                            <div class="col-auto">
                                {% if not account_stats %}
                                <p class="h6">UNRANKED</p>
                                {% else %}
                                {% for queue in account_stats %}
                                {% if queue.tier == 'CHALLENGER' or queue.tier == 'MASTER' or queue.tier ==
                                'GRANDMASTER' %}
                                <p class="h6"><span class="tier">{{queue.tier}}</span><span class="rank"></span>
                                    {{queue.leaguePoints}}LP</p>
                                {% else %}
                                <p class="h6"><span class="tier">{{queue.tier}}</span><span class="rank">
                                        {{queue.rank}}</span> {{queue.leaguePoints}}LP</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                {% if not account_stats %}
                                <p class="h6">RANKED_SOLO_5x5</p>
                                {% else %}
                                {% for queue in account_stats %}
                                <p class="h6">{{queue.queueType}}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                {% if not account_stats %}
                                <p class="h6">W/L 0-0 WINRATE 0%</p>
                                {% else %}
                                {% for queue in account_stats %}
                                <p class="h6">W/L <span class="win">{{queue.wins}}</span>-<span
                                        class="loss">{{queue.losses}}</span> WINRATE <span
                                        class="winrate">{{queue.winrate|floatformat:1}}%</span></p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="\static\js\account_colours.js"></script>
{% endblock %}