{% extends 'lolstats/layout.html' %}
{% load ttags %}

{% block title %}
Multisearch
{% endblock %}

{% block content %}
<div class="p-5 m-5 text-center">
    {% include './icons/code-slash.svg' %}
    <h1 class="display-5 fw-bold">MULTI-SEARCH</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Search for Summoners {% include './icons/search.svg' %}</p>
        <div class="mx-auto" style="max-width: 400px;">
            <form class="mt-3 mt-lg-0" action={% url 'multisearch' %} method="POST">
                {% csrf_token %}
                <textarea autocomplete="off" class="form-control me-2" id="player_names" name="player_names"
                    placeholder="Search Players" required type="text" rows="3"></textarea>
                <div class="d-flex gap-2 justify-content-end mt-2">
                    <select class="form-select w-auto" id="region" name="region">
                        {% for region in regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </div>
            </form>
        </div>
        <p class="mt-4 mx-auto" style="max-width: 500px;"><strong>Enter summoners into the search box separated by
                commas e.g.
                summoner1,summoner2,summoner3,etc...</strong></p>
    </div>
</div>
{% endblock %}