{% extends 'lolstats/layout.html' %}

{% block title %}
    Player stats
{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="p-3 mb-4 rounded-3" style="background-color: #2c2f33;">
          <div class="container-fluid">
            <p class="h1">{{summoner_info.name}}  <span class="badge rounded-pill bg-secondary" style="font-size:1rem;">Lvl {{summoner_info.summonerLevel}}</span></p>
            <div class="row mb-auto text-left">
                <div class="col-md-2 ">
                    <div class="rounded-pill border w-100 h-100">
                        
                    </div>
                </div>
                <div class="col-md-10 ">
                  <div class="row">
                    <div class="col-md-auto">
                        {% if not account_stats %}
                            <p class="h6">UNRANKED</p>
                        {% else %}
                            {% for queue in account_stats %}
                                {% if queue.tier == 'CHALLENGER' or queue.tier == 'MASTER' or queue.tier == 'GRANDMASTER' %}
                                    <p class="h6"><span class="tier">{{queue.tier}}</span><span class="rank"></span> {{queue.leaguePoints}}LP</p>
                                {% else %}
                                    <p class="h6"><span class="tier">{{queue.tier}}</span><span class="rank"> {{queue.rank}}</span> {{queue.leaguePoints}}LP</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-auto">
                        {% if not account_stats %}
                            <p class="h6">RANKED_SOLO_5x5</p>
                        {% else %}
                            {% for queue in account_stats %}
                            <p class="h6">{{queue.queueType}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-auto">
                        {% if not account_stats %}
                            <p class="h6">W/L 0-0 WINRATE 0%</p>
                        {% else %}
                            {% for queue in account_stats %}
                            <p class="h6">W/L <span class="win">{{queue.wins}}</span>-<span class="loss">{{queue.losses}}</span> WINRATE <span class="winrate">{{queue.winrate|floatformat:1}}%</span></p>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row align-items-md-stretch">
          <div class="col-md-4">
            <div class="p-3 rounded-3" style="background-color: #2c2f33;">
                {{ player_data }}
            </div>
          </div>
          <div class="col-md-8 text-center">
            <div class="p-3 rounded-3" style="background-color: #2c2f33;">
                {{ match_history }}
            </div>
            <form method="get" action="{{ request.path }}">
                <input type="hidden" name="load_more" id="load_more" value="{{ match_history|length }}">
                <button type="submit" class="btn btn-outline-light mt-2">
                    Load More
                </button>
              </form>
          </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let wrtags = document.getElementsByClassName('winrate');
                for (let i = 0; i < wrtags.length; i++)
                {
                    let wr = parseInt(wrtags[i].innerHTML);
                    if (wr >= 50)
                    {
                        wrtags[i].classList.add("win"); 
                    }
                    else
                    {
                        wrtags[i].classList.add("loss");
                    }
                }
                let tiertags = document.getElementsByClassName('tier');
                let ranktags = document.getElementsByClassName('rank');
                for (let i = 0; i < tiertags.length; i++)
                {
                    let rank = tiertags[i].innerHTML;
                    tiertags[i].classList.add(rank); 
                    ranktags[i].classList.add(rank);
                }
            });
        </script>
{% endblock %}