{% extends 'lolstats/layout.html' %}
{% load ttags %}

{% block title %}
Player stats
{% endblock %}

{% block content %}
<div class="container-xxl py-4">
    <div class="p-3 rounded-3">
        <div class="container-fluid">
            <p class="h1">{{summoner_info.name}} <span class="badge rounded-pill bg-secondary"
                    style="font-size:1rem;">Lvl {{summoner_info.summonerLevel}}</span></p>
            <div class="row mb-auto text-left align-items-center flex-nowrap">
                <div class="col-md-2" style="max-height: 120px; max-width: 120px;">
                    <div class="rounded-5 border border-3 w-auto h-auto overflow-hidden">
                        <img src="http://ddragon.leagueoflegends.com/cdn/13.3.1/img/profileicon/{{summoner_info.profileIconId}}.png"
                            alt="summoner icon" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row flex-nowrap">
                        <div class="col-auto">
                            {% if not account_stats %}
                            <p class="h6">UNRANKED</p>
                            {% else %}
                            {% for queue in account_stats %}
                            {% if queue.tier == 'CHALLENGER' or queue.tier == 'MASTER' or queue.tier == 'GRANDMASTER' %}
                            <p class="h6"><span class="tier">{{queue.tier}}</span><span class="rank"></span>
                                {{queue.leaguePoints}}LP</p>
                            {% else %}
                            <p class="h6"><span class="tier">{{queue.tier}}</span><span class="rank">
                                    {{queue.rank}}</span> {{queue.leaguePoints}}LP</p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            {% if not account_stats %}
                            <p class="h6">RANKED_SOLO_5x5</p>
                            {% else %}
                            {% for queue in account_stats %}
                            <p class="h6">{{queue.queueType}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            {% if not account_stats %}
                            <p class="h6">W/L 0-0 WINRATE 0%</p>
                            {% else %}
                            {% for queue in account_stats %}
                            <p class="h6">W/L <span class="win">{{queue.wins}}</span>-<span
                                    class="loss">{{queue.losses}}</span> WINRATE <span
                                    class="winrate">{{queue.winrate|floatformat:1}}%</span></p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <a class="nav-link active text-light-emphasis" aria-current="page" href="{{ request.path }}">Overview</a>
        <a class="nav-link text-muted" href="{{ request.path }}live/">Live Game</a>
    </nav>
    <div class="row align-items-md-stretch">
        <div class="col-md-4 text-center">
            <div class="p-1 rounded-3" style="background-color: #2c2f33;">
                <div class="m-1 p-2 border border-secondary-subtle rounded-3">
                    <h6>{% include './icons/layers.svg' %} CHAMPIONS {% include './icons/layers.svg' %}</h6>
                    <hr>
                    <div class="overflow-auto">
                        <table class="table table-sm table-hover table-dark table-striped w-100">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    {% for col in champ_df.columns %}
                                    <th scope="col">{{ col|upper }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in champ_df.values %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    {% for value in row %}
                                    <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="m-1 p-2 border border-secondary-subtle rounded-3">
                    <h6>{% include './icons/bar-chart.svg' %} STATS {% include './icons/bar-chart.svg' %}</h6>
                    <hr>
                    <div class="overflow-auto">
                        <table class="table table-sm table-hover table-dark table-striped w-100">
                            <thead>
                                <tr>
                                    <th scope="col">STAT</th>
                                    {% for col in player_stats_df.columns %}
                                    <th scope="col">{{ col|upper }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row, stat in player_stats_df.values|zip:player_stats_df.index %}
                                <tr>
                                    <td>{{ stat|upper }}</td>
                                    {% for value in row %}
                                    {% if value != value %}
                                    <td> </td>
                                    {% else %}
                                    <td>{{ value }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="m-1 p-2 border border-secondary-subtle rounded-3">
                    <h6>{% include './icons/text-left.svg' %} QUEUES {% include './icons/text-left.svg' %}</h6>
                    <hr>
                    <div class="overflow-auto">
                        <table class="table table-sm table-hover table-dark table-striped w-100">
                            <thead>
                                <tr>
                                    {% for col in queue_df.columns %}
                                    <th scope="col">{{ col|upper }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in queue_df.values %}
                                <tr>
                                    {% for value in row %}
                                    {% if forloop.counter == 1 %}
                                    <td class="queue">{{ value }}</td>
                                    {% else %}
                                    <td>{{ value }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <p class="h4"><span class="winrate">{{ global_winrate.winrate }}</span> | <span
                            class="win">{{global_winrate.win}}</span> - <span
                            class="loss">{{global_winrate.loss}}</span></p>
                    <p class="h6">Global Record</p>
                    <p>Stats based on <span class="h6">{{ global_winrate.number_of_games }}</span> games</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for match, player in match_history|zip:player_history %}
            {% if player.win %}
            <div class="h5 text-left">{{player.championName}} - <span class="queue">{{match.info.queueId}}</span> :
                <span class="win">WIN</span>
            </div>
            {% else %}
            <div class="h5 text-left">{{player.championName}} - <span class="queue">{{match.info.queueId}}</span> :
                <span class="loss">LOSS</span>
            </div>
            {% endif %}
            <div class="p-3 rounded-3 mb-1" style="background-color: #2c2f33;">
                <div class="row align-items-center flex-nowrap overflow-auto">
                    <div class="col-auto">
                        <div class="row align-items-center">
                            <div class="col-auto gx-2" style="width: 58px;">
                                <div class="row justify-content-center">
                                    {% if player.teamPosition %}
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-{{player.teamPosition|lower}}-disabled.png"
                                            alt="role icon" class="img-fluid" width="50" height="50">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row justify-content-center mx-1 h6">Lvl {{player.champLevel}}</div>
                            </div>
                            <div class="col-auto gx-2">
                                <div class="rounded-4 overflow-hidden">
                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{player.championId}}.png"
                                        alt="role icon" class="img-fluid" width="70px" height="70px">
                                </div>
                            </div>
                            <div class="col-auto gx-2">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <div class="rounded-2 mb-1 overflow-hidden">
                                            {% if player.summoner1 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{player.summoner1}}.png"
                                                alt="summoner icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_empty.png"
                                                alt="summoner icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <div class="rounded-2 overflow-hidden">
                                            {% if player.summoner2 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{player.summoner2}}.png"
                                                alt="summoner icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_empty.png"
                                                alt="summoner icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto gx-2">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <div class="rounded-2 mb-1 overflow-hidden">
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/{{player.keystone}}"
                                                alt="perk icon" class="img-fluid" width="35px" height="35px">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <div class="rounded-2 mb-1 overflow-hidden">
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/{{player.substyle}}"
                                                alt="perk icon" class="img-fluid" width="20px" height="20px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto mx-1" style="width: 84px;">
                                <div class="row justify-content-center h5">
                                    {{player.kills}}/{{player.deaths}}/{{player.assists}}</div>
                                <div class="row justify-content-center h6">{{player.challenges.kda|floatformat}} KDA
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mx-2">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto gx-1">
                                        <div class="rounded-2 mb-1 overflow-hidden">
                                            {% if player.item0 != 0 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{player.item0}}.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/gp_ui_placeholder.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto gx-1">
                                        <div class="rounded-2 overflow-hidden">
                                            {% if player.item3 != 0 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{player.item3}}.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/gp_ui_placeholder.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto gx-1">
                                        <div class="rounded-2 mb-1 overflow-hidden">
                                            {% if player.item1 != 0 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{player.item1}}.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/gp_ui_placeholder.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto gx-1">
                                        <div class="rounded-2 overflow-hidden">
                                            {% if player.item4 != 0 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{player.item4}}.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/gp_ui_placeholder.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <div class="col-auto mb-1 gx-1">
                                        <div class="rounded-2 overflow-hidden">
                                            {% if player.item2 != 0 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{player.item2}}.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/gp_ui_placeholder.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto gx-1">
                                        <div class="rounded-2 overflow-hidden">
                                            {% if player.item5 != 0 %}
                                            <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{player.item5}}.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% else %}
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/gp_ui_placeholder.png"
                                                alt="item icon" class="img-fluid" width="30px" height="30px">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto mx-1" style="width: 100px;">
                                <div class="row justify-content-center">
                                    <div class="col-auto h7" style="color:#81e6d9;">
                                        CS: {{player.totalMinionsKilled}}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto h7" style="color:#f3a05a;">
                                        GOLD: {{player.goldEarned|div:1000|floatformat}}k
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto h7" style="color:#e25656;">
                                        DMG: {{player.totalDamageDealtToChampions|div:1000|floatformat}}k
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto h7" style="color:#b78787;">
                                        KP: {{player.kills|add:player.assists|percent:match.info.teams.0.objectives.champion.kills|floatformat}}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row align-items-center">
                            <div class="col-auto gx-1" style="max-width: 80px;">
                                {% for participant in match.info.participants|split:1 %}
                                <div class="row align-items-center" style="height: 24px;">
                                    <a class="text-reset text-decoration-none"
                                        href="/player/{{region}}/{{participant.summonerName}}/">
                                        <div class="h7 text-truncate">
                                            {{participant.summonerName}}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-auto gx-1">
                                {% for participant in match.info.participants|split:1 %}
                                <div class="row justify-content-center">
                                    <div class="overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{participant.championId}}.png"
                                            alt="role icon" class="img-fluid" width="20px" height="20px">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-auto gx-1">
                                {% if player.teamPosition %}
                                <div class="row justify-content-center">
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-top-blue-hover.png"
                                            alt="role icon" class="img-fluid" width="20" height="20">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-jungle-blue-hover.png"
                                            alt="role icon" class="img-fluid" width="20" height="20">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-middle-blue-hover.png"
                                            alt="role icon" class="img-fluid" width="20" height="20">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-bottom-blue-hover.png"
                                            alt="role icon" class="img-fluid" width="20" height="20">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-utility-blue-hover.png"
                                            alt="role icon" class="img-fluid" width="20" height="20">
                                    </div>
                                </div>
                                {% else %}
                                {% for i in 0|range:5 %}
                                <div class="row justify-content-center">
                                    <div class="rounded-3 w-auto h-auto overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-fill-disabled.png"
                                            alt="role icon" class="img-fluid" width="20" height="20">
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-auto gx-1">
                                {% for participant in match.info.participants|split:2 %}
                                <div class="row justify-content-center">
                                    <div class="overflow-hidden">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{participant.championId}}.png"
                                            alt="role icon" class="img-fluid" width="20px" height="20px">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-auto gx-1" style="max-width: 80px;">
                                {% for participant in match.info.participants|split:2 %}
                                <div class="row align-items-center" style="height: 24px;">
                                    <a class="text-reset text-decoration-none"
                                        href="/player/{{region}}/{{participant.summonerName}}/">
                                        <div class="h7 text-truncate">
                                            {{participant.summonerName}}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mx-1">
                        <div class="row justify-content-center">{% include './icons/stopwatch-fill.svg' %}</div>
                        <div class="row justify-content-center h6">{{match.info.gameDuration|time}}</div>
                        <div class="row justify-content-center h7">{{match.info.gameCreation}}</div>
                        <div class="row justify-content-center w-75 mt-1 mx-1">
                            <button type="button" class="btn btn-outline-light btn-sm"
                                style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0rem;" data-bs-toggle="collapse"
                                data-bs-target="#collapseGame{{ forloop.counter }}" aria-expanded="false"
                                aria-controls="collapseGame{{ forloop.counter }}">
                                {% include './icons/chevron-compact-down.svg' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseGame{{ forloop.counter }}">
                <div class="card card-body p-3 rounded-3 mb-1 overflow-auto justify-content-center" style="background-color: #2c2f33;">
                    <div class="mt-3">
                        <table class="table table-sm table-hover table-dark table-bordered w-100 text-center">
                            <thead>
                                <tr>
                                    {% if match.info.teams.0.win %}
                                    <th class="override-left" scope="col">Ally Team - <span class="win">VICTORY</span</th>
                                    {% else %}
                                    <th class="override-left" scope="col">Ally Team</th>
                                    {% endif %}
                                    <th scope="col">LVL</th>
                                    <th scope="col">K</th>
                                    <th scope="col">D</th>
                                    <th scope="col">A</th>
                                    <th scope="col">CS</th>
                                    <th scope="col">VS</th>
                                    <th scope="col">GOLD</th>
                                    <th scope="col">DMG CHAMP</th>
                                    <th scope="col">DMG OBJ</th>
                                    <th scope="col">DMG TAKEN</th>
                                    <th scope="col">KP</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for participant in match.info.participants|split:1 %}
                                <tr>
                                    <td>
                                        <div class="row align-items-center justify-content-left px-2 flex-nowrap">
                                            <div class="col-auto gx-1">
                                                {% if player.teamPosition %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 20px; height: 20px;  background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-{{participant.teamPosition|lower}}-blue-hover.png&quot;);"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-1">
                                                <div class="bg-cover bg-center rounded-5" style="width: 30px; height: 30px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{participant.championId}}.png&quot;);"></div>
                                            </div>
                                            <div class="col-auto gx-1">
                                                {% if participant.summoner1 %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px;  background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{participant.summoner1}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px;  background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_empty.png&quot;);"></div>
                                                {% endif %}
                                                {% if participant.summoner2 %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{participant.summoner2}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_empty.png&quot;);"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-1">
                                                <div class="bg-cover bg-center rounded-2" style="width: 15px; height: 15px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/{{participant.keystone}}&quot;);"></div>
                                                <div class="bg-cover bg-center rounded-2" style="width: 15px; height: 15px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/{{participant.substyle}}&quot;);"></div>
                                            </div>
                                            <div class="col-auto gx-2 override-left" style="width: 80px;">
                                                <div class="h7 text-truncate">{{participant.summonerName}}</div>
                                                <div class="h8 text-truncate">{{participant.championName}}</div>
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item0 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item0}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item1 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item1}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item2 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item2}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item3 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item3}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item4 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item4}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item5 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item5}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{participant.champLevel}}</td>
                                    <td>{{participant.kills}}</td>
                                    <td>{{participant.deaths}}</td>
                                    <td>{{participant.assists}}</td>
                                    <td>{{participant.totalMinionsKilled}}</td>
                                    <td>{{participant.visionScore}}</td>
                                    <td>{{participant.goldEarned|div:1000|floatformat}}k</td>
                                    <td>{{participant.totalDamageDealtToChampions|div:1000|floatformat}}k</td>
                                    <td>{{participant.damageDealtToObjectives|div:1000|floatformat}}k</td>
                                    <td>{{participant.totalDamageTaken|div:1000|floatformat}}k</td>
                                    <td>{{participant.kills|add:participant.assists|percent:match.info.teams.0.objectives.champion.kills|floatformat}}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mb-3 h6">
                        <div class="mb-1">
                            ALLIED TEAM: <span class="win">{{match.info.teams.0.objectives.champion.kills}}</span> KILLS | <span class="win">{{match.info.teams.0.objectives.gold|div:1000|floatformat}}k</span> GOLD | <span class="win">{{match.info.teams.0.objectives.tower.kills}}</span> TOWERS | <span class="win">{{match.info.teams.0.objectives.dragon.kills}}</span> DRAGONS | <span class="win">{{match.info.teams.0.objectives.baron.kills}}</span> BARONS
                        </div>
                        <div>
                            ENEMY TEAM: <span class="loss">{{match.info.teams.1.objectives.champion.kills}}</span> KILLS | <span class="loss">{{match.info.teams.1.objectives.gold|div:1000|floatformat}}k</span> GOLD | <span class="loss">{{match.info.teams.1.objectives.tower.kills}}</span> TOWERS | <span class="loss">{{match.info.teams.1.objectives.dragon.kills}}</span> DRAGONS | <span class="loss">{{match.info.teams.1.objectives.baron.kills}}</span> BARONS
                        </div>
                    </div>
                    <div>
                        <table class="table table-sm table-hover table-dark table-bordered w-100 text-center">
                            <thead>
                                <tr>
                                    {% if match.info.teams.1.win %}
                                    <th class="override-left" scope="col">Enemy Team - <span class="loss">VICTORY</span></th>
                                    {% else %}
                                    <th class="override-left" scope="col">Enemy Team</th>
                                    {% endif %}
                                    <th scope="col">LVL</th>
                                    <th scope="col">K</th>
                                    <th scope="col">D</th>
                                    <th scope="col">A</th>
                                    <th scope="col">CS</th>
                                    <th scope="col">VS</th>
                                    <th scope="col">GOLD</th>
                                    <th scope="col">DMG CHAMP</th>
                                    <th scope="col">DMG OBJ</th>
                                    <th scope="col">DMG TAKEN</th>
                                    <th scope="col">KP</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for participant in match.info.participants|split:2 %}
                                <tr>
                                    <td>
                                        <div class="row align-items-center justify-content-left px-2 flex-nowrap">
                                            <div class="col-auto gx-1">
                                                {% if player.teamPosition %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 20px; height: 20px;  background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-{{participant.teamPosition|lower}}-blue-hover.png&quot;);"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-1">
                                                <div class="bg-cover bg-center rounded-5" style="width: 30px; height: 30px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{participant.championId}}.png&quot;);"></div>
                                            </div>
                                            <div class="col-auto gx-1">
                                                {% if participant.summoner1 %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px;  background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{participant.summoner1}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px;  background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_empty.png&quot;);"></div>
                                                {% endif %}
                                                {% if participant.summoner2 %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{participant.summoner2}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-1" style="width: 15px; height: 15px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_empty.png&quot;);"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-1">
                                                <div class="bg-cover bg-center rounded-2" style="width: 15px; height: 15px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/{{participant.keystone}}&quot;);"></div>
                                                <div class="bg-cover bg-center rounded-2" style="width: 15px; height: 15px; background-image: url(&quot;https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/{{participant.substyle}}&quot;);"></div>
                                            </div>
                                            <div class="col-auto gx-2 override-left" style="width: 80px;">
                                                <div class="h7 text-truncate">{{participant.summonerName}}</div>
                                                <div class="h8 text-truncate">{{participant.championName}}</div>
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item0 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item0}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item1 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item1}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item2 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item2}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item3 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item3}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item4 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item4}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto gx-0">
                                                {% if participant.item5 != 0 %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-image: url(&quot;http://ddragon.leagueoflegends.com/cdn/13.4.1/img/item/{{participant.item5}}.png&quot;);"></div>
                                                {% else %}
                                                <div class="bg-cover bg-center rounded-2" style="width: 20px; height: 20px; background-color: #2c2f33;"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{participant.champLevel}}</td>
                                    <td>{{participant.kills}}</td>
                                    <td>{{participant.deaths}}</td>
                                    <td>{{participant.assists}}</td>
                                    <td>{{participant.totalMinionsKilled}}</td>
                                    <td>{{participant.visionScore}}</td>
                                    <td>{{participant.goldEarned|div:1000|floatformat}}k</td>
                                    <td>{{participant.totalDamageDealtToChampions|div:1000|floatformat}}k</td>
                                    <td>{{participant.damageDealtToObjectives|div:1000|floatformat}}k</td>
                                    <td>{{participant.totalDamageTaken|div:1000|floatformat}}k</td>
                                    <td>{{participant.kills|add:participant.assists|percent:match.info.teams.1.objectives.champion.kills|floatformat}}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
            <form class="text-center" method="get" action="{{ request.path }}">
                <input type="hidden" name="load_more" id="load_more" value="{{ match_history|length }}">
                <button type="submit" class="btn btn-outline-light mt-2">
                    Load More
                </button>
            </form>
        </div>
    </div>
    {{ queue_ids|json_script:"queue_ids" }}
    <script src="\static\js\account_colours.js"></script>
    <script src="\static\js\queue_ids.js"></script>
    {% endblock %}