.win {
 color:#68d391;
}

.loss {
    color:#fc8181;
}

.IRON {
    color:#574d4f;
}

.BRONZE {
    color:#8c523a;
}

.SILVER {
    color:#80989d;
}

.GOLD {
    color:#cd8837;
}

.PLATINUM {
    color:#4e9996;
}

.DIAMOND {
    color:#576bce;
}

.MASTER {
    color:#9d48e0;
}

.GRANDMASTER {
    color:#cd4545;
}

.CHALLENGER {
    color:#f4c874;
}

.active {
    color: #fff;
}
